 /*Configuracion inicial de la página*/

 body
 {
   background-color:#eee;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   color:#333;
   text-align:center;
   font-style:oblique;
 }

  /*Estilo del header*/
 header{
   width: 100%;
   background: #1e9e74;
   color:white;
   padding:2% 5%;
   float: left;
   
 }
 
 /*Estilo del footer*/
 footer{
   
   background-color: #1e9e74;
   color:white;
   font-weight:bold;
   padding:15px;
   
   
   
   
 }
 
 
 
 
  /*Configuracion de la página en el caso que sea mayor o igual a 768px*/
 @media screen and (min-width : 768px) {
   
 
 }
 
 